@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --header-height: 64px;
  --search-modal-height: 340px;
  --post-sider-toc-height: 340px;
  --post-sider-toc-width: 416px;
}

:root,
html[data-theme="light"] {
  --background: oklch(96.1% 0.0049 220.4);
  --foreground: oklch(24% 0.0096 295.3);
  --accent: oklch(68.2% 0.1301 220.4);
  --muted: oklch(85.9% 0.0579 220.4);
  --border: oklch(92.2% 0.0288 220.4);
}

html[data-theme="dark"] {
  --background: oklch(18.6% 0.0463 220.4);
  --foreground: oklch(94.9% 0.0041 264.4);
  --accent: oklch(47.7% 0.0739 220.4);
  --muted: oklch(38.1% 0.0728 220.4);
  --border: oklch(32.1% 0.0893 220.4);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }

  html {
    @apply overflow-auto overscroll-auto scroll-smooth;
  }

  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }

  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  section {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-5xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
