---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import Tag from "@/components/Tag.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import { getLangFromUrl } from "@/utils/getLangFromUrl";
import { useTranslations } from "@/utils/useTranslations";

const posts = await getCollection("blog");
let tags = getUniqueTags(posts);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`Tags | ${SITE.title}`}>
  <PageLayout>
    <Main
      pageTitle={t("tag.pageTitle")}
      pageDesc={t("tag.pageDesc")}
      slot="main-body-slot"
    >
      <ul>
        {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
      </ul>
    </Main>
  </PageLayout>
</Layout>
