---
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import SearchBox from "@/components/SearchBox.astro";
import { SITE } from "@/config";
import { getLangFromUrl } from "@/utils/getLangFromUrl";
import { useTranslations } from "@/utils/useTranslations";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`Search | ${SITE.title}`}>
  <PageLayout>
    <Main
      pageTitle={t("search.pageTitle")}
      pageDesc={t("search.pageDesc")}
      slot="main-body-slot"
    >
      <SearchBox />
    </Main>
  </PageLayout>
</Layout>
