---
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import SearchBox from "@/components/SearchBox.astro";
import { SITE } from "@/config";
---

<Layout title={`Search | ${SITE.title}`}>
  <PageLayout>
    <Main
      pageTitle="Search"
      pageDesc="Search any article ..."
      slot="main-body-slot"
    >
      <SearchBox />
    </Main>
  </PageLayout>
</Layout>
