---
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}
---

<footer class="flex w-full max-w-full border-t">
  <div class="relative flex mx-3 w-full border-x px-4 md:mx-8 lg:mx-12">
    <div class="relative flex w-full items-baseline justify-between bg-background p-4 sm:items-center sm:py-6">
      <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
        <span>Copyright &#169; {currentYear}</span>
        <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
        <span>All rights reserved.</span>
      </div>
      <Socials centered />
    </div>
  </div>
</footer>
