---
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}
---

<footer class="relative z-20 flex w-full max-w-full border-t bg-background">
  <div
    id="foot-container"
    class="relative mx-3 flex w-full border-x px-4 py-1.5 md:mx-8 md:py-4 lg:mx-12"
  >
    <div
      class="relative mx-auto flex w-full flex-1 flex-row items-center-safe justify-between bg-background"
    >
      <div
        class="flew-1 flex size-6 scale-75 flex-row items-center whitespace-nowrap sm:scale-90 md:scale-105"
      >
        <span class="text-sm md:text-base">Copyright &#169; {currentYear}</span>
        <span class="text-sm md:text-base">&nbsp;|&nbsp;</span>
        <span class="text-sm md:text-base">All rights reserved.</span>
      </div>
      <Socials centered />
    </div>
  </div>
</footer>
