---
import type { HeadingHierarchy } from "./Toc.astro";
export interface Props {
  heading: HeadingHierarchy;
}

const { heading } = Astro.props;
---

<li class="mx-auto my-2 list-none">
  <a
    class="inline text-balance underline decoration-(--accent) decoration-dashed underline-offset-2 hover:text-(--accent) hover:italic hover:decoration-solid"
    href={"#" + heading.slug}
  >
    <span class="me-0.5">{heading.text}</span>
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="my-0 ml-5 pl-0">
        {heading.subheadings.map(subheading => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
