---
import Breadcrumb from "@/components/Breadcrumb.astro";
import PageLayout from "./PageLayout.astro";
import Layout from "./Layout.astro";
import { SITE } from "@/config";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <PageLayout>
    <div
      class="relative mx-3 grow border-r border-l md:mx-8 lg:mx-12"
      slot="breadcrumb"
    >
      <Breadcrumb />
    </div>
    <section
      id="about"
      class="prose mb-28 max-w-app prose-img:border-0"
      slot="main-body-slot"
    >
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <slot />
    </section>
  </PageLayout>
</Layout>
