---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<Header />
<slot name="breadcrumb" />
<main class="relative mx-3 grow border-x pt-8 md:mx-8 lg:mx-12">
  <section
    class="-mx-3 flex h-4 w-full items-center justify-center md:-mx-8 lg:-mx-12"
  >
    <svg
      class="pointer-events-none absolute inset-0 [z-index:-1] size-full text-blue-200 !opacity-40 select-none dark:text-blue-300/10 dark:!opacity-70"
    >
      <defs>
        <pattern
          id=":rma:"
          width="4"
          height="4"
          patternUnits="userSpaceOnUse"
          patternTransform="rotate(45)"
        >
          <line
            x1="0"
            y1="0"
            x2="0"
            y2="4"
            stroke="currentColor"
            stroke-width="1.5"></line>
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#:rma:)"></rect>
    </svg>
  </section>
  <slot name="main-body-slot" />
  <div class="-mx-3 flex items-center justify-center md:-mx-8 lg:-mx-12">
    <div
      class="absolute bottom-[-4.5px] left-[-4.5px] z-50 h-2 w-2 rotate-45 rounded-[1px] border border-blue-200 bg-white dark:border-blue-300/25"
    >
    </div>
    <div
      class="absolute right-[-4.5px] bottom-[-4.5px] z-50 h-2 w-2 rotate-45 rounded-[1px] border border-blue-200 bg-white dark:border-blue-300/25"
    >
    </div>
  </div>
</main>
<Footer />
